# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.env
.env.*

# Django
db.sqlite3
/media
/staticfiles

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Sistema
.DS_Store

.backup_categorias.sql